<div class="wrapper">
  <div class="new__wrapper">
    <%= form_for @new_post do |p| %>
      <%= p.attachment_field :post_image, class:"form__attachment" %>
      <%= p.text_area :post_text, class:"form__textfield", placeholder:'Why you post it?' %>
      <%= p.fields_for :tags do |tag| %>
        <%= render 'tag_fields', p: tag %>
      <% end %>
      <%= p.submit '投稿', class:"btn btn__done" %>
    <% end %>
  </div>
</div>
